body{
    background-color: rgb(0, 0, 0);
    padding: 15px;
}
header{
    display: flex;
    font-size: 20px;
    padding-top: 10px;
    padding: 20px;
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.logo{
    float: left;
    padding:20px;
}
h1{
    padding: 40px;
    padding-top: 20px;
}
td{
    padding-right: 40px;
}
tr{
    padding: 40px;
}
nav {
   position: absolute;
   right: 50px;
}
nav a {
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    font-weight: 550;
    margin-left: 50px;
    transition: color 1ms;
}
nav a:hover{
    color: rgb(85, 10, 155);
    font-size: 18px;
}
.totoro{
    background-color: rgba(8, 255, 234, 0.568);
    height: 150px;
}
.caja{
    background-color: rgb(0, 0, 0);
    padding: 15px;
    color: #ffffff;
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.img1{
    float: left;
    width: 200px;
    height: 180px;
    margin: 15px;
}
.text1{
    overflow: hidden;
    text-align: left;
    padding:22px;
    margin: 15px;
    font-size: 16px;
    border: 3px solid rgb(61, 209, 247);
}
.img2{
    float: right;
    width: 200px;
    height: 180px;
    margin: 15px;
}
.text2{
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    margin: 25px;
    padding: 25px;
    border: 3px solid rgb(61, 209, 247);
}
.img3{
    float: left;
    margin-right: 15px;
    width: 200px;
    height: 180px;
}
.text3{
    overflow: hidden;
    text-align: left;
    border: 3px solid rgb(61, 209, 247);
    padding: 22px;
    margin: 20px;
    font-size: 16px;
}
.img4{
    float: right;
    margin-left: 15px;
    width: 200px;
    height: 180px;
}
.text4{
    overflow: hidden;
    text-align: left;
    border: 3px solid rgb(61, 209, 247);
    font-size: 16px;
    padding: 22px;
    margin: 20px;
}
.img5{
    float: left;
    margin-right: 15px;
    width: 200px;
    height: 180px;
}
.text5{
    overflow: hidden;
    text-align: left;
    border: 3px solid rgb(61, 209, 247);
    font-size: 16px;
    padding: 22px;
    margin: 20px;
}
.img6{
    float: right;
    margin-left: 15px;
    width: 200px;
    height: 180px;
}
.text6{
    overflow: hidden;
    text-align: left;
    border: 3px solid rgb(61, 209, 247);
    font-size: 16px;
    padding: 22px;
    margin: 20px;  
}
footer{
    text-align: center;
    padding: 20px;
    position: relative;
}
.social-icons img {
    width: 45px;
    height: auto;
    margin: 10px;
    transition: 0s;
}
.social-icons img:hover {
    width: 60px;
    height: auto;
}
